body {
  background-color: rgb(95, 142, 140);
}
h1 {
  margin: 10px;
  color: white;
}
#mainPanel {
  max-width: 560px;

}
#headerPanel {
  background-color: rgb(80, 131, 90);
  height: 70px;
}
#addingPanel {
  background-color: white;
  padding: 5px;
}
#item {
  height: 60px;
  border: none;
  font-size: 25px;
  width: 100%;
}
