body {
  background-color: rgb(95, 142, 140);
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
h1 {
  margin: 10px;
  color: white;
}
#mainPanel {
  max-width: 560px;

}
#headerPanel {
  background-color: rgb(80, 131, 90);
  height: 70px;
}
#addingPanel {
  background-color: white;
  padding: 0px;
}
#typeItem {
  height: 70px;
  border: none;
  font-size: 25px;
  width: 100%;
  padding-left: 10px;
  box-sizing: border-box;
  background-color: rgb(240, 240, 240);
}

#typeItem:focus {
  background-color: white;
}
p {
  margin: 0;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 10px;
  color: rgb(199, 199, 199);
  text-align: center;
  margin-bottom: 5px;
}
.emptyItem {
  background-color: rgb(153, 74, 74);
}

.itemDone {
  text-decoration: line-through;
  color: rgb(170, 170, 170);
}

ul {
  margin: 0;
  width: 100%;
  list-style-type: none;
  padding: 0;
}

.oneItem {
  height: 50px;
  font-size: 20px;
  line-height: 50px;
}

/* #delButton {
  margin-top: -5px;
  margin-left: -10px;
  height: 50px;
  width: 50px;
  float: left;
  color: rgb(185, 37, 37);
  display: none;
} */

#delButton {
  float: left;
  color: white;
}

li {
  background-color: white;
}

li:hover span{
  padding: 0 10px 0 10px;
  width: 50px;
  opacity: 1;
}

li:nth-child(2n) {
  background-color: rgb(240, 240, 240);
}

span {
  padding: 0;
  text-align: center;
  background-color: rgb(185, 79, 79);
  width: 0;
  margin-right: 10px;
  transition: 0.2s linear;
  opacity: 0;
}
