body {
  background-color: rgb(95, 142, 140);
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
h1 {
  margin: 10px;
  color: white;
}
#mainPanel {
  max-width: 560px;

}
#headerPanel {
  background-color: rgb(80, 131, 90);
  height: 70px;
}
#addingPanel {
  background-color: white;
  padding: 0px;
}
#typeItem {
  height: 70px;
  border: none;
  font-size: 25px;
  width: 100%;
  padding-left: 10px;
}
p {
  margin: 0;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 10px;
  color: rgb(199, 199, 199);
  text-align: center;
  margin-bottom: 5px;
}
.emptyItem {
  background-color: rgb(153, 74, 74);
}

.itemDone {
  text-decoration: line-through;
  color: rgb(170, 170, 170);
}

ul {
  margin: 0;
  width: 100%;
  list-style-type: none;
  padding: 0;
}

.oneItem {
  height: 50px;
  font-size: 20px;
  padding-top: 5px;
  padding-left: 10px;
  background-color: white;
}

#delButton {
  float: right;
  margin-right: 10px;
  color: rgb(185, 37, 37);
}
